<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/error-404.css">
  <title>about</title>
</head>
<body>

  
<div class="main-content">
  <div class="intro-container">
        <div class="intro-heading">{{>header}}</div>
        <div class="portraits">
          <img class="portrait" src="./img/alam.png" alt="my image">
        </div>
        <div class="intro-content">
            Hi, I'm {{name}}, a passionate software developer with 1 year of experience in the world of software development. With a strong foundation in programming and a keen eye for problem-solving, I thrive on turning complex ideas into functional and efficient solutions.
        </div>
        
        <div class="skills-heading">Skills</div>
        <ul class="skills-list">
            <li>Web Development: HTML, CSS, JavaScript</li>
            <li>Programming Languages: [Languages You're Proficient In]</li>
            <li>Frameworks: [Frameworks You're Familiar With]</li>
            <li>Version Control: Git</li>
            <li>Database Management: [Databases You're Comfortable With]</li>
            <li>Problem Solving: Algorithmic thinking, Debugging</li>
            <li>Continuous Learning: Staying up-to-date with the latest technologies</li>
        </ul>
  </div>
</div>
  {{>footer}}

  <script src="./js/app.js"></script>
</body>
</html>